body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #303030;
}

h1 {
  font-weight: medium;
  font-size: 2rem;
  margin-left: 1rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: medium;
  margin-bottom: 0.5rem;
}

.gain {
  color: green;
}

.loss {
  color: firebrick;
}

.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.app-wrapper__sidebar {
  width: 40px;
  height: 100%;
  border-right: 1px solid #303030;
}

.app-wrapper__chart-area {
  width: calc(100% - 40px);
  height: 100%;
  padding: 0 0.5rem;
}

#app-wrapper__chart-area-charts {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

#error-display {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
}

#error-display p#text-target {
  color: firebrick;
}

.app-wrapper__chart-area-charts-chart {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc((100% / 3) - 1rem);
  height: auto;
  margin: 0.5rem;
  border: 1px solid #303030;
  padding: 0.5rem;
}

.app-wrapper__chart-area-charts-chart span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.app-wrapper__chart-area-charts-chart h2 {
  font-weight: bold;
  font-size: 1rem;
}